<ion-list>
  <ion-item button item-right routerLink="/instructions" routerLinkActive="active" ariaCurrentWhenActive="page">
    <ion-icon color="secondary" name="help-circle"></ion-icon>
    Instructions
  </ion-item>
  <ion-item button routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page" color="light">
    <ion-icon color="secondary" name="at"></ion-icon>
    Contact
  </ion-item>
</ion-list>
<ion-button color="secondary" expand="block" (click)="dismissPopover()">Close</ion-button>
