<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon slot="start" name="globe"></ion-icon>
      <ion-label>website: <a href="https://www.isealtires.com">isealtires.com</a></ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="mail"></ion-icon>
      <ion-label>email: <a href="mailto:support@isealtires.com" target="_top">support@isealtires.com</a></ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="call"></ion-icon>
      <ion-label>phone: <a href="tel:+18002645742">800-264-5742</a></ion-label>
    </ion-item>
  </ion-list>
</ion-content>
