<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-end">
      <ion-button size="small" shape="round" icon-only item-right (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>
      Contact Us
    </ion-list-header>
    <ion-item>
      <ion-icon slot="start" name="globe"></ion-icon>
      <ion-label>website: <a href="https://www.isealtires.com">isealtires.com</a></ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="mail"></ion-icon>
      <ion-label>email: <a href="mailto:rhidle@isealtires.com" target="_top">rhidle@isealtires.com</a></ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="call"></ion-icon>
      <ion-label>phone: <a href="tel:+18002645742">800-264-5742</a></ion-label>
    </ion-item>
  </ion-list>
</ion-content>
