<ion-list-header>SYSTEM OF MEASUREMENT:</ion-list-header>
<ion-segment [(ngModel)]="sysMeasure" ionChange="onChange($event)">
  <ion-segment-button value="standard" (click)="wipeInput()">
    <ion-label>STANDARD</ion-label>
  </ion-segment-button>
  <ion-segment-button value="metric" (click)="wipeInput()">
    <ion-label>METRIC</ion-label>
  </ion-segment-button>
</ion-segment>
<ion-list-header>TIRE USE:</ion-list-header>
<ion-segment  [(ngModel)]="roadType" ionChange="onChange($event)">
  <ion-segment-button value="offRoad">
    <ion-label>OFF ROAD <br>(BELOW 40 MPH)</ion-label>
  </ion-segment-button>
  <ion-segment-button value="onRoad">
    <ion-label>ON ROAD <br>(ABOVE 40 MPH)</ion-label>
  </ion-segment-button>
</ion-segment>
<ion-item>
  <!-- <ion-label position="floating">Tire Width</ion-label> -->
  <ion-input type="number"[(ngModel)]="width" placeholder="Tire Width" (keyup.enter)="handleEnter()"></ion-input>
  <ion-chip *ngIf="sysBool" color="primary">
    <ion-label>inches</ion-label>
  </ion-chip>
  <ion-chip *ngIf="!sysBool" color="primary">
    <ion-label>mm</ion-label>
  </ion-chip>
</ion-item>
<ion-item>
  <!-- <ion-label position="floating">Tire Diameter</ion-label> -->
  <ion-input type="number" [(ngModel)]="rim" placeholder="Wheel Diameter/Size" (keyup.enter)="handleEnter()"></ion-input>
  <ion-chip color="primary">
    <ion-label>inches</ion-label>
  </ion-chip>
</ion-item>


<div >
  <ion-list>
    <ion-item color="light">
      <ion-label>Calculated Fluid Oz:</ion-label>
      <ion-note slot="end" color="primary"><h4>{{fluidOz}}</h4></ion-note>
    </ion-item>
    <ion-item color="light">
      <ion-label>Application Amount in Oz:</ion-label>
      <ion-note slot="end" color="primary"><h4>{{applicationOz}}</h4></ion-note>
    </ion-item>
    <ion-item color="light">
      <ion-label>Hand Pumps:</ion-label>
      <ion-note slot="end" color="primary"><h4>{{handPumps}}</h4></ion-note>
    </ion-item>
  </ion-list>
</div>
