<ion-header>
  <ion-toolbar>
    <ion-title>
      Sealant Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <app-calculator></app-calculator>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <div class="ion-text-center">
          <ion-button icon-only item-right (click)="presentInstructions()" color="light">
            <ion-icon color="primary" name="help-circle-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-center">
          <ion-button icon-only item-right (click)="presentContact()" color="light">
            <ion-icon color="primary" name="at"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
