<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      iSealTires Sealant Calculator
    </ion-title>

    <ion-button fill="clear" slot="end"(click)="presentPopover($event)">
        <ion-icon name="menu"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-row class="ion-justify-content-center">
      <ion-button routerLink="/instructions" routerLinkActive="active" ariaCurrentWhenActive="page" color="light">
        <ion-text color="danger"><i>How to read a tire size</i></ion-text>
      </ion-button>
    </ion-row>
      
    <app-calculator></app-calculator>
  </div>
</ion-content>
